<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- 定义使用C3P0连接池的数据源 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <!-- 指定连接数据库的JDBC驱动 -->
        <property name="driverClass" value="${jdbcDriverClassName}"/>
        <!-- 连接数据库所用的URL -->
        <property name="jdbcUrl" value="${jdbcUrl}"/>
        <!-- 连接数据库的用户名 -->
        <property name="user" value="${jdbcUsername}"/>
        <!-- 连接数据库的密码 -->
        <property name="password" value="${jdbcPassword}"/>
        <!-- 设置数据库连接池的最大连接数 -->
        <property name="maxPoolSize" value="${maxPoolSize}"/>
        <!-- 设置数据库连接池的最小连接数 -->
        <property name="minPoolSize" value="${minPoolSize}"/>
        <!-- 设置数据库连接池的初始化连接数 -->
        <property name="initialPoolSize" value="${initialPoolSize}"/>
        <!-- 设置数据库连接池的连接的最大空闲时间,单位为秒 -->
        <property name="maxIdleTime" value="${maxIdleTime}"/>
    </bean>

    <!--设置SqlSessionFactoryBean-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
    </bean>

    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg ref="sqlSessionFactory"/>
    </bean>

    <!--设置 Mybatis-spring 的扫描 Mapper 的路径-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.marsthink.dao"/>
        <property name="annotationClass" value="org.springframework.stereotype.Repository"/>
        <property name="sqlSessionTemplateBeanName" value="sqlSessionTemplate"/>
    </bean>

    <!--添加事务管理-->
    <!--<bean id="transactionManager"-->
    <!--class="org.springframework.jdbc.datasource.DataSourceTransactionManager">-->
    <!--<property name="dataSource" ref="dataSource" />-->
    <!--</bean>-->
    <!--<tx:annotation-driven transaction-manager="transactionManager" />-->


    <!--<tx:advice id="userTxAdvice" transaction-manager="transactionManager">-->
    <!--<tx:attributes>-->
    <!--<tx:method name="remove*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.Exception" no-rollback-for="java.lang.RuntimeException" />-->
    <!--<tx:method name="delete*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.Exception" no-rollback-for="java.lang.RuntimeException" />-->
    <!--<tx:method name="add*" propagation="REQUIRED" read-only="false"	rollback-for="java.lang.RuntimeException" />-->
    <!--<tx:method name="insert*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.RuntimeException" />-->
    <!--<tx:method name="save*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.RuntimeException" />-->
    <!--<tx:method name="update*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.Exception" />-->
    <!--<tx:method name="publish*" propagation="REQUIRED" read-only="false" rollback-for="java.lang.Exception" />-->
    <!--<tx:method name="get*" propagation="SUPPORTS" read-only="true" />-->
    <!--<tx:method name="list*" propagation="SUPPORTS" read-only="true" />-->
    <!--<tx:method name="query*" propagation="SUPPORTS" read-only="true" />-->
    <!--<tx:method name="find*" propagation="SUPPORTS" read-only="true" />-->
    <!--<tx:method name="page*" propagation="SUPPORTS" read-only="true" />-->
    <!--</tx:attributes>-->
    <!--</tx:advice>-->
    <!--<tx:annotation-driven transaction-manager="transactionManager"/>-->
    <!-- execution(public * com.wtas.*.service.*.*(..)) OR   execution(public * com.wtas.*.*.*.service.*.*(..))-->
    <!--<aop:config>-->
    <!--<aop:pointcut id="pc" expression="execution(public * com.sf.dxtravel.*.service.*.*(..))" />-->
    <!--<aop:advisor pointcut-ref="pc" advice-ref="userTxAdvice" />-->
    <!--</aop:config>-->
</beans>